.footer {
  margin: var(--margin-section);
}
.footer-inner {
  margin: var(--margin-section);
  padding: var(--padding-text-div);
}
.footer__text {
  padding: var(--padding-text-div);
  text-align: center;
}