body {
  min-height: 100vh;
  background-image: linear-gradient(blue, rgb(0, 238, 255));
  background-attachment:fixed;
  font-size: 24px;
  color: #3f3f3f;
  /* line-height: 10px; */
}

.container {
  max-width: 70vw;
  margin: 0px auto;
  background-color: var(--background-color-container);
  border-radius: var(--border-radius);
}


.global__button {
  border: var(--border-button);
  border-radius: var(--border-radius);
  background: var(--linear-gradient);
  transition-duration: var(--transition-duration);
  padding: var(--padding-button);
}

.global__button:hover {
  transform: scale(1.03);

}

.global__button:hover .icon {
  transform: scale(1.2);

}


.global__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: var(--border-radius-image);
}

.icon {
  width: 30px;
  height: 30px;

  object-fit: cover;
  border-radius: var(--border-radius-image);
  transition-duration: var(--transition-duration);
}