body {
  min-height: 100vh;
  background-image: linear-gradient(blue, rgb(0, 238, 255));
  background-attachment: fixed;
  font-size: 24px;
  color: #3f3f3f;

  font-family: 'Lato-Regular', sans-serif;
}

.container {
  max-width: 70vw;
  margin: 0px auto;
  background-color: var(--background-color-container);
  border-radius: var(--border-radius);
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  border: var(--border-button);
  border-radius: var(--border-radius);
  background: var(--linear-gradient);
  transition-duration: var(--transition-duration);
  padding: var(--padding-button);
}

.button:hover {
  transform: scale(1.03);
}

.button:active {
  transform: scale(1.03);
  background: var(--linear-gradient-active);
}

.button:hover .icon {
  transform: scale(1.2);

}


.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: var(--border-radius-image);
}

.icon {
  width: 30px;
  height: 30px;

  object-fit: cover;
  border-radius: var(--border-radius-image);
  transition-duration: var(--transition-duration);
}

.button__text {
  padding: var(--padding-text-div);
}