:root {
  --linear-gradient: linear-gradient(rgb(248, 255, 252), rgb(198, 255, 205));
  --linear-gradient-active: linear-gradient(rgb(198, 255, 205), rgb(248, 255, 252));

  --border-radius: 10px;
  --border-radius-image: 50%;
  --border-button: 2px solid #008a2e;


  --margin-section: 30px 0px;
  --padding-text-div: 10px;
  --margin-text-div: 10px;
  --padding-button: 5px 5px;

  --transition-duration: 0.2s;

  --color-bg1: rgba(0, 172, 66, 0.219);
  --background-color-container: #ffffff;

  --shadow: 1px 1px 10px 0px rgb(0, 112, 47);

}